<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.0/css/bootstrap.min.css"
          th:href="@{/bootstrap-5.3.0/css/bootstrap.min.css}">
    <script th:src="@{/responsivevoice.js}"></script>
    <style>
        body {
            background-image: url("https://craft-cv.com/image/en/6/cv-builder-online.png");
            background-repeat: no-repeat;
            max-width: 1920px;
            max-height: 1080px;
        }
    </style>
</head>
<body onload="show()">
<div>
    <h1 class="text-center" style="margin-top: 19%">Trang này để chuyển hướng chọn cách nhập</h1>
    <h4 class="text-center text-danger">Nếu bạn muốn nhập thông tin bằng tay thì nhấn phím qua trái, nhập thông tin bằng giọng nói thì nhấn phím qua phải.</h4>
</div>


<script>

  const recognition = new webkitSpeechRecognition();

  // Thiết lập ngôn ngữ cho recognition là tiếng Việt
  recognition.lang = 'vi-VN';
  // Gán một hàm callback khi nhận được kết quả nhận dạng giọng nói
  recognition.onresult = function(event) {
    // Lấy ra đoạn văn bản được nhận dạng
    const speechResult = event.results[event.results.length - 1][0].transcript;

    // Gọi hàm của bạn để xử lý kết quả
    // Ví dụ: console.log(speechResult) để in ra kết quả nhận dạng giọng nói trên console
    console.log(speechResult);
    show(speechResult)
  }

  // Bắt đầu nhận dạng giọng nói khi trang web được tải
  recognition.start();

  function show(speechResult) {
    // document.getElementById('name').value = speechResult;
    responsiveVoice.speak("Mời bạn chọn cách nhập thông tin, nhấn phím qua trái là chọn cách nhập bằng tay, nhấn phím qua phải là nhập bằng giọng nói","Vietnamese Female");
    document.addEventListener("keydown", function(event) {
      if (event.code === "ArrowLeft") {
        window.location.href = "http://localhost:8080/input"
        // xử lý khi người dùng ấn phím mũi tên sang trái
      } else if (event.code === "ArrowRight") {
        window.location.href = "http://localhost:8080/voice"
        // xử lý khi người dùng ấn phím mũi tên sang phải
      }else {
          show()
      }
    });
  }
</script>
<script src="../static/bootstrap-5.3.0/js/bootstrap.min.js"
        th:src="@{/bootstrap-5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>
