<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.0/css/bootstrap.min.css"
          th:href="@{/bootstrap-5.3.0/css/bootstrap.min.css}">
    <script th:src="@{/responsivevoice.js}"></script>

</head>
<body>
<div class="container">
    <div style="width: 60%; margin: 0 auto">
        <form th:action="@{/create}" th:method="POST" th:object="${blindPerson}">
            <h2 class="mb-3 text-center">Mẫu đăng ký thông tin tìm việc làm</h2>
            <div class="mb-3">
                <label class="form-label">Tên:</label>
                <input onfocus="nameInput()" th:id="name" th:field="*{name}" type="text" class="form-control" >
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Day Of Birth:</label>
                <input onfocus="dayOfBirthInput()" th:field="*{dateOfBirth}" type="text" class="form-control" id="date">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label>
                <input onfocus="addressBlind()" th:field="*{address}" type="text" class="form-control" id="address">
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender:</label>
                <input onfocus="genderBlind()" th:field="*{gender}" type="text" class="form-control" id="gender">
            </div>
            <div class="mb-3">
                <label for="exp" class="form-label">Experience:</label>
                <input onfocus="expBlind()" th:field="*{exp}" type="text" class="form-control" id="exp">
            </div>
            <div class="mb-3">
                <label for="skill" class="form-label">Skill:</label>
                <input onfocus="skillBlind()" th:field="*{skill}" type="text" class="form-control" id="skill">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content:</label>
                <input onfocus="contentBlind()" th:field="*{content}" type="text" class="form-control" id="content">
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number:</label>
                <input onfocus="phoneNumberBlind()" th:field="*{phoneNumber}" type="text" class="form-control"
                       id="phoneNumber">
            </div>
            <div class="mb-3">
                <!-- Button trigger modal -->
                <button onfocus="confirmInfo()" type="submit" class="btn btn-primary">
                    Xác nhận thông tin
                </button>
            </div>
        </form>
    </div>
</div>

<button class="btn btn-success" id='btnTalk'>Voice chat!</button>
<br><br>
<span ></span>
</body>
<script>
    // function hello(){
    //     document.getElementById('nhac').play();
    // }

    function nameInput() {
        responsiveVoice.speak("Mời bạn nhập tên", "Vietnamese Female");
    }

    function dayOfBirthInput() {
        responsiveVoice.speak("Mời bạn nhập ngày sinh", "Vietnamese Female");
    }

    function addressBlind() {
        responsiveVoice.speak("Mời bạn nhập địa chỉ", "Vietnamese Female");
    }

    function genderBlind() {
        responsiveVoice.speak("Mời bạn nhập giới tính", "Vietnamese Female");
    }

    function expBlind() {
        responsiveVoice.speak("Mời bạn mô tả kinh nghiệm", "Vietnamese Female");
    }

    function skillBlind() {
        responsiveVoice.speak("Mời bạn mô tả kỹ năng, điểm mạnh của bạn", "Vietnamese Female");
    }

    function contentBlind() {
        responsiveVoice.speak("Mời bạn nhập những mô tả khác", "Vietnamese Female");
    }

    function phoneNumberBlind() {
        responsiveVoice.speak("Mời bạn nhập số điện thoại", "Vietnamese Female");
    }

    function confirmInfo() {
        responsiveVoice.speak("Xác nhận thông tin của bạn, nếu đúng hãy nhấn enter", "Vietnamese Female");
    }

    let interval;

    // interval = setInterval(() => {
    //
    //     if (responsiveVoice) {
    //         // hello()
    //         // clearInterval(interval)
    //     }
    // Khởi tạo đối tượng SpeechRecognition

</script>
</body>
<script src="../static/bootstrap-5.3.0/js/bootstrap.min.js"
        th:src="@{/bootstrap-5.3.0/js/bootstrap.min.js}"></script>
</html>
